<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.freedom.notes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/note"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/note">
        <activity
            android:name="org.freedom.notes.StartActivity"
            android:label="@string/title_your_notes"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.freedom.notes.NoteActivity"
            android:label="@string/title_edit_note" >
        </activity>
    </application>

</manifest>
